html {
  font-family: 'Maiden Orange', cursive;
  font-size: 38px;
}
body {
  background-color: #e1caca;
}

footer {
text-align: right;
font-size: 30px;
}

.persondata{
  font-size: 24px;
}
header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: center;
  margin: 0em 3em 0em 7em;
  align-items: center;
}
header h1 {
  margin: 0;
  padding: 1em;
  font-size: 1.5em;
  text-align: center;
  color: black;
  text-shadow:
   -2px -2px 0 white,
    2px -2px 0 white,
    -2px 2px 0 white,
     2px 2px 0 white;

}
header img {
  width: 8em;
  height: 4em;
}

.tabs {
  display: flex;
  flex-flow: row nowrap;
  font-size: 0.7em;
  margin: 0 3em 0em 7em;
}
.tabs a {
padding: 0 1em 1em 2em ;
}
.tabs a:hover {
  background-color:#FFB6C1;
}

main.forside {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: 3em 1em;
}
main.forside img{
  width: 45vw;
  height: 45vw;
  border:2px solid black;
  object-fit: cover;
}
h1 {
  font-size: 1em;
  text-align: center;
    margin: 2em 2em 2em;
}
h2 {
  font-size: 1em;
  text-align: center;
}
hr {
 border: 1px solid black;
}

.inline-p {
  display: inline;
  align-items: center;
     margin: 2em 2em 1em 2em;
}

main.undersider {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
    padding:1 1em 2em;
}
main.undersider img{
   margin: 0 1em 1em;
 width: 27vw;
  height: 45vw;
  border:2px solid black;
  object-fit: cover;
}

main.undersider p{
margin: 0 1em
}

main.forhandlere {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
    padding:0em 1em 2em;
}
main.forhandlere img{
   margin: 0em 1em 1em;
 width: 27vw;
  border:2px solid black;
  object-fit: cover;
}


.postcodesearch {
  margin:-1em 25% 1em 25%;
}
.postcodesearch input { font-size: 1em;}
.postcodesearch button { font-size: 1em;}

#map {
  height: 400px;
  width: 50%;
  margin: 0 25%;
}


#searchresults {
   position: absolute;
  left: 20px;
  width: 275px;
  font-size: 30px;
  text-align:right;
}
